<fieldset>
<div class="grid_5 alpha">
<div class="login-top"></div>
<div class="login form">

  <fieldset class="user-details">
    <h2>User</h2>
    <%= form.fields_for :user do |uf| %>
      <%= render 'spree/shared/user_form', :f => uf %>
    <% end %>
  </fieldset>
</div>
<div class="login-bottom"></div>
</div>


<div class="grid_5 alpha">
<div class="login-top"></div>
<div class="login form">

  <fieldset class="wholesaler-details">
    <h2>Company Information</h2>

    <p>
      <%= form.label :company %><br/>
      <%= form.text_field :company, :class => 'required input' %><span class="req">*</span>
    </p>
    <p>
      <%= form.label :buyer_contact %><br/>
      <%= form.text_field :buyer_contact, :class => 'required input' %><span class="req">*</span>
    </p>
    <p>
      <%= form.label :manager_contact %><br/>
      <%= form.text_field :manager_contact, :class => 'required input' %><span class="req">*</span>
    </p>
    <p>
      <%= form.label :phone %><br/>
      <%= form.text_field :phone, :class => 'required input' %><span class="req">*</span>
    </p>
    <p>
      <%= form.label :fax %><br/>
      <%= form.text_field :fax %>
    </p>
    <p>
      <%= form.label :resale_number %><br/>
      <%= form.text_field :resale_number %>
    </p>
    <p>
      <%= form.label :taxid %><br/>
      <%= form.text_field :taxid, :class => 'required input' %><span class="req">*</span>
    </p>
    <p>
      <%= form.label :web_address %><br/>
      <%= form.text_field :web_address %>
    </p>
    <p>
      <%= form.label :terms %><br/>
      <%= form.select :terms, Spree::Wholesaler.term_options, :class => 'required input' %><span class="req">*</span>
    </p>
    <p>
      <%= form.label :notes %><br/>
      <%= form.text_area :notes %>
    </p>
  </fieldset>
  </div>
<div class="login-bottom"></div>
</div>
</fieldset>


<fieldset class="rightie">
<div class="grid_5 alpha">
<div class="login-top"></div>
<div class="login form">
  <%= render "spree/shared/address_form", :form => form %>
  </div>
<div class="login-bottom"></div>
</div>
</fieldset>

<% content_for :head do %>
  <%= javascript_include_tag 'wholesaler_address' %>
  <%= javascript_include_tag '/states' %>
<% end %>
