<fieldset>

  <fieldset class="user-details">
    <h2>User</h2>
    <%= form.fields_for :user do |uf| %>
      <%= render 'spree/shared/user_form', :f => uf %>
    <% end %>
  </fieldset>

  <fieldset class="wholesaler-details">
    <h2>Company Information</h2>

    <p>
      <%= form.label :company %><span class="req">*</span><br/>
      <%= form.text_field :company, :class => 'required input' %>
    </p>
    <p>
      <%= form.label :buyer_contact %><span class="req">*</span><br/>
      <%= form.text_field :buyer_contact, :class => 'required input' %>
    </p>
    <p>
      <%= form.label :manager_contact %><span class="req">*</span><br/>
      <%= form.text_field :manager_contact, :class => 'required input' %>
    </p>
    <p>
      <%= form.label :phone %><span class="req">*</span><br/>
      <%= form.text_field :phone, :class => 'required input' %>
    </p>
    <p>
      <%= form.label :fax %><br/>
      <%= form.text_field :fax, :class => 'input' %>
    </p>
    <p>
      <%= form.label :resale_number %><br/>
      <%= form.text_field :resale_number, :class => 'input' %>
    </p>
    <p>
      <%= form.label :taxid %><span class="req">*</span><br/>
      <%= form.text_field :taxid, :class => 'required input' %>
    </p>
    <p>
      <%= form.label :web_address %><br/>
      <%= form.text_field :web_address, :class => 'input' %>
    </p>
    <p>
      <%= form.label :terms %><span class="req">*</span><br/>
      <%= form.select :terms, Spree::Wholesaler.term_options, :class => 'required input' %>
    </p>
    <p>
      <%= form.label :notes %><br/>
      <%= form.text_area :notes, :class => 'input' %>
    </p>
  </fieldset>

</fieldset>


<fieldset>

  <%= render "spree/shared/address_form", :form => form %>

</fieldset>

<% content_for :head do %>
  <%= javascript_include_tag 'wholesaler_address' %>
  <%= javascript_include_tag '/states' %>
<% end %>
